# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [14]:
import numpy as np
import pandas as pd
recipes=pd.read_csv('data/recipes_sample.csv', encoding='ISO-8859–1', parse_dates= ['submitted'])
reviews=pd.read_csv('data/reviews_sample.csv', delimiter=',', encoding='ISO-8859–1') #index_col=0)
print(type(reviews),type(recipes))#проверка типа данных
#print(recipes)
reviews

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [16]:
#print(recipes.dtypes.values)#Вывод типов данных столбцов таблицы
print("Таблица 'Recipes':\nКоличество точек данных:%s\nКоличество столбцов:%s\nТип данных каждого столбца:\n%s\n" % (recipes.shape[0], recipes.shape[1], recipes.dtypes))
#print("Больше информации:")
#recipes.info()
print()
print("Таблица 'Reviews':\nКоличество точек данных:%s\nКоличество столбцов:%s\nТип данных каждого столбца:\n%s\n" % (reviews.shape[0], reviews.shape[1], reviews.dtypes))
#print(f"Больше информации:")
#reviews.info()

Таблица 'Recipes':
Количество точек данных:30000
Количество столбцов:8
Тип данных каждого столбца:
name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object


Таблица 'Reviews':
Количество точек данных:126696
Количество столбцов:6
Тип данных каждого столбца:
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [52]:
def NanCounter(table):
    t1=pd.DataFrame(table)
    t1= t1.isna().sum(axis=1)
    t1_num_rows = len(t1[t1 != 0].index)
    print("Кол-во пропусков в таблице по столбцам:\n%s" % (table.isna().sum()))
    print("%3.5f%% доля строк в таблице содержащих пропуски" % (t1_num_rows/t1.shape[0]*100))
    
print("Для DataFrame 'Recipes':0" )
NanCounter(recipes)
print("\nДля DataFrame 'Reviews':" )
NanCounter(reviews)
recipes.isna().any(), len(recipes[recipes.isna().any(axis=1)].index)/len(recipes.index)

Для DataFrame 'Recipes':0
Кол-во пропусков в таблице по столбцам:
name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
56.84667% доля строк в таблице содержащих пропуски

Для DataFrame 'Reviews':
Кол-во пропусков в таблице по столбцам:
id            0
user_id       0
recipe_id     0
date          0
rating        0
review       17
dtype: int64
0.01342% доля строк в таблице содержащих пропуски

(name              False
 id                False
 minutes           False
 contributor_id    False
 submitted         False
 n_steps            True
 description        True
 n_ingredients      True
 dtype: bool,
 0.5684666666666667)

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [23]:
averRating = reviews["rating"].mean()
averMinutes = recipes["minutes"].mean()
averSteps = recipes["n_steps"].mean()
averIngridients = recipes["n_ingredients"].mean()
print("Средний рейтинг рецепта с точностью до десятитысячных: %2.4f" % averRating)
print("Среднее время приготовления рецепта с точностью до десятитысячных: %2.4f" % averMinutes)
print("Среднее кол-во шагов в рецепте с точностью до десятитысячных: %2.4f" % averSteps)
print("Среднее кол-во ингридиентов в рецепте с точностью до десятитысячных: %2.4f" % averIngridients)
#name	id	minutes	contributor_id	submitted	n_steps	description	n_ingredients

Средний рейтинг рецепта с точностью до десятитысячных: 4.4108
Среднее время приготовления рецепта с точностью до десятитысячных: 123.3581
Среднее кол-во шагов в рецепте с точностью до десятитысячных: 9.8056
Среднее кол-во ингридиентов в рецепте с точностью до десятитысячных: 9.0083

1.5 Создайте серию из 10 случайных названий рецептов.

In [29]:
def GetRandomSeries(table, n, column):
    randSample = table.sample(n=n)
    #print(type(randSample[column])) #проверка типа данных
    return randSample[column]
print(GetRandomSeries(recipes, 10, "name"))
#print(GetRandomSeries(recipes, 20, "description"))#проверка универсальности функции на аналогичных задачах
#print(GetRandomSeries(reviews, 6, "review"))

8478                crispix mix onions  n chives flavor
12967    grilled pork cutlets with maple chipotle glaze
8536                   crispy skillet okra  no breading
7079                             cinnamon sugar popcorn
18791                            nonna conti s marinara
5068               cheddar biscuits   red lobster style
25161                                   special chicken
8421                                     creole burgers
2410                                    basic taco bake
5716                                chicken chilli dogs
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [30]:
reviews["Unnamed: 0"] = [i for i in range(len(reviews))]
reviews=reviews.rename(columns={'Unnamed: 0': "id"})
reviews

,id,user_id,recipe_id,date,rating,review
0,0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [32]:
simpleRecipes=recipes[(recipes['minutes']<=20) & (recipes['n_ingredients']<=5)]
simpleRecipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [33]:
recipes=recipes.astype({'submitted' : 'datetime64'})
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [248]:
newRecipes= recipes[recipes['submitted'].dt.year>=2010]
newRecipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29992,zucchini courgette soup good for weight watc...,415406,45,485109,2010-03-04,5.0,this is a favourite winter warmer. by british ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [298]:
recipes=recipes.astype({'description' : 'string'})
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [300]:
recipes=recipes.astype({'name' : 'string'})
recipes['name']= recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [536]:
#import re
#recipes['name_word_count'] = len(re.findall(r'\w+', recipes['name'].iat[i]))
df1= recipes.copy()
for i in range (len(df1)):
    df1['name_word_count'][i] = len(re.findall(r'\w+', df1['name'].iat[i]))
#recipes['name']= recipes['name'].str.strip()
#recipes['name_word_count'] = recipes['name'].str.split()
#print(len(recipes['name'].str.split()[0]))
df1

C:\Users\den10\AppData\Local\Temp\ipykernel_1512\832497879.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['name_word_count'][i] = len(re.findall(r'\w+', df1['name'].iat[i]))

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [246]:
df1=recipes[['contributor_id','id', 'description']]
grouped = df1.groupby("contributor_id").count()
a = grouped.sort_values(by ='id', ascending=False)['id']
print("Выборка участников по убыванию кол-ва рецептов:")
print(a)
print(f"Участник под айди %s добавил максимальное кол-во рецептов!" %a.index[0])
#grouped = recipes.groupby("contributor_id").indices
#grouped.values()
#for key,value in grouped.items(): 
#    print('contributor id:', key, 'представил', len(value), рецептов)

Выборка участников по убыванию кол-ва рецептов:
contributor_id
89831         421
37449         346
37779         345
1533          186
169430        183
             ...
245835          1
245653          1
245590          1
245378          1
2002247884      1
Name: id, Length: 8404, dtype: int64
Участник под айди 89831 добавил максимальное кол-во рецептов!

In [253]:
rating = reviews.groupby("recipe_id")['rating'].mean()#.sort_values(ascending=False)
print("1.Таблица среднего рейтинга к каждому из рецептов:")
print(rating)
print ("Она же по убыванию рейтинга:")
print(rating.sort_values(ascending=False))

missingReview = reviews.groupby("recipe_id").any(skipna= False)
recipeswithoutReview= missingReview[missingReview['review']==False]
recipeswithoutReview
print("2.Выборка показала что отзывы отсутствуют для",recipeswithoutReview.shape[0], "рецептов")


#НЕУДАЧНЫЕ ПОПЫТКИ ВЫЧИСЛЕНИЙ
#missingReview2 = reviews.groupby("recipe_id")['date',  'rating',  'review'].all(skipna= False)
#print(missingReview2)
#print(reviews[reviews['recipe_id'] == 536747])

#missingdataCheck=reviews["review"].notnull()
#print(missingdataCheck)
#missingdataCheck =missingdataCheck.rename(columns ={'review' : 'check'})
#df2= pd.concat([reviews, missingdataCheck], axis=1, ignore_index=True)
#df2
#missingdataCheck=missingdataCheck[missingdataCheck ==False]

#missingReview = reviews.groupby("recipe_id").all()
#resultdf= missingReview[missingReview["review"] ==False]
#print(missingdataCheck)
#print(resultdf)
#group=missingReview.get_group('')#missingReview = missingReview.sort_values(ascending=False)

1.Таблица среднего рейтинга к каждому из рецептов:
recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64
Она же по убыванию рейтинга:
recipe_id
144515    5.0
177112    5.0
176700    5.0
176710    5.0
379207    5.0
         ...
301564    0.0
301480    0.0
301055    0.0
499383    0.0
536747    0.0
Name: rating, Length: 28100, dtype: float64
2.Выборка показала что отзывы отсутствуют для 0 рецептов

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [ ]:
rating = reviews.groupby("recipe_id")['rating'].mean()#.sort_values(ascending=False)
print("1.Таблица среднего рейтинга к каждому из рецептов:")
print(rating)

missingReview = reviews.groupby("recipe_id").any(skipna= False)
recipeswithoutReview= missingReview[missingReview['review']==False].shape[0]
print("2.Отзывы отсутствуют для",recipeswithoutReview, "рецептов")


#НЕУДАЧНЫЕ ПОПЫТКИ ВЫЧИСЛЕНИЙ
#missingReview2 = reviews.groupby("recipe_id")['date',  'rating',  'review'].all(skipna= False)
#print(missingReview2)
#print(reviews[reviews['recipe_id'] == 536747])

#missingdataCheck=reviews["review"].notnull()
#print(missingdataCheck)
#missingdataCheck =missingdataCheck.rename(columns ={'review' : 'check'})
#df2= pd.concat([reviews, missingdataCheck], axis=1, ignore_index=True)
#df2
#missingdataCheck=missingdataCheck[missingdataCheck ==False]

#missingReview = reviews.groupby("recipe_id").all()
#resultdf= missingReview[missingReview["review"] ==False]
#print(missingdataCheck)
#print(resultdf)
#group=missingReview.get_group('')#missingReview = missingReview.sort_values(ascending=False)

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [257]:
gb = recipes.groupby(recipes['submitted'].dt.year)['id'].count()
gb

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [273]:

df1=recipes[['id', 'name']]
df2=reviews[['recipe_id','user_id', 'rating',]]
merge_table= pd.merge(df1,df2, left_on="id", right_on="recipe_id")
merge_table.drop('recipe_id', axis=1, inplace=True)
merge_table
#newDF= pd.concat([recipes['id'],recipes['name'],reviews['user_id'],reviews['rating']])

            id                                    name  user_id  rating
0        44123   george s at the cove  black bean soup   743566       5
1        44123   george s at the cove  black bean soup    76503       5
2        44123   george s at the cove  black bean soup    34206       5
3        67664      healthy for them  yogurt popsicles   494084       5
4        67664      healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             zydeco soup   305531       5
126692  486161                             zydeco soup  1271506       5
126693  486161                             zydeco soup   724631       5
126694  486161                             zydeco soup   133174       5
126695  298512  cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [281]:
df1=recipes[['name', 'id']]
df2=reviews[['recipe_id', 'review']]
grouped=df2.groupby('recipe_id').count()
df2=df2.drop('review', axis=1)
df3 = pd.merge(df2, df1, left_on="recipe_id", right_on="id")
df3.drop('id', axis=1, inplace=True)
review_table= pd.merge(df3,grouped, left_on="recipe_id", right_index=True)
#grouped
review_table= review_table.rename(columns={'review': "review_count"})
review_table=review_table.sort_values(by ='review_count', ascending=False)
review_table
#grouped.sort_values(by ='review', ascending=False) #Проверка показала, что у любого рецепта есть хотя бы один отзыв!

        recipe_id                                    name  review_count
7371        27208              to die for crock pot roast          1382
6453        27208              to die for crock pot roast          1382
6445        27208              to die for crock pot roast          1382
6446        27208              to die for crock pot roast          1382
6447        27208              to die for crock pot roast          1382
...           ...                                     ...           ...
113969     141356              chocolate mousse napoleons             1
113970     274218     sausage and pepper omelet  low carb             1
113971     269030              easy toffee squares  candy             1
61579      253031                     garlic free ketchup             1
126695     296868  g nut special sauce and sweet potatoes             1

[126696 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [268]:
df1= reviews[['recipe_id', 'rating']]
df2= recipes[['id', 'submitted']]
df3 = pd.merge(df1, df2, left_on="recipe_id", right_on="id")
df3.drop(['id', 'recipe_id'], axis=1, inplace=True)
gb = df3.groupby(df3['submitted'].dt.year).mean()
print("Ниже приведен, DataFrame отсортированный по убыванию рейтинга")
print("Из выборки следует, что наименьший средний рейтинг имеют рецепты добавленные в 2017 году.")
lowest_mean_rate=gb.sort_values(by ='rating', ascending=True)
lowest_mean_rate

Ниже приведен, DataFrame отсортированный по убыванию рейтинга
Из выборки следует, что наименьший средний рейтинг имеют рецепты добавленные в 2017 году.

             rating
submitted
2017       2.750000
2018       3.388889
2016       3.538462
2015       4.207317
1999       4.274895
2000       4.284585
2013       4.336508
2009       4.360447
2011       4.375850
2008       4.387416
2001       4.393945
2002       4.404645
2010       4.406279
2005       4.409687
2012       4.412736
2006       4.416310
2007       4.420073
2003       4.439152
2004       4.463778
2014       4.538235

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [541]:
from pathlib import Path 
filepath = Path('out.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
df1= df1.sort_values(by = 'name_word_count', ascending=False)
df1.to_csv(filepath)

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3

In [285]:
df1 = merge_table
df2 = review_table  
with pd.ExcelWriter("6.2.output.xlsx") as writer:
    df1.to_excel(writer, sheet_name="Рецепты с оценками")  
    df2.to_excel(writer, sheet_name="Количество отзывов по рецептам")
print("Файл успешно эспортирован в формат xlsx!")

Файл успешно эспортирован в формат xlsx!